.formik1{
    margin-top: 10vh;
    background-image: url("../Components/middleReka.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.formik1 input{
    border: 1px solid white !important;
    border-radius: 4px;
    width: 20vw;
}

.text-area{
    width: 20vw;
}
.contact-container{
    width: 75vw;
    height: 65vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    top: 20vh;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    color: white;
}
.error{
    color: red;
}
.how{
    color: white;
}

.submit-contact{
    background: linear-gradient(90deg,rgb(87, 204, 153), rgb(56, 163, 165));

}


@media (max-width: 767px){
    .formik1{
      margin-top: 0;
    }
    .contact-container{
        width: max-content;
        height: max-content;
    }
    .text-area{
        width: 25vw;
        height: 10vh;
    }
  }