.main{
    margin-top: 4vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Components/middleReka.jpg");
}
.info-card{
    width: 75vw;
    height: 65vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    top: 20vh;
    margin: 10vh;
    display: flex;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    backdrop-filter: blur(20px);
    color: white;
}
.ehud-banai-img{
    height: 30em;
    width: 20em;
    margin: 2em;
    padding-top: 5em;
    background-image: url(https://i.ibb.co/Vvb9Z9j/ehud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.31);

}

.main p{
    width: 60%;
    font-size: 20px;
}
@media (max-width: 767px){
    .main{
        margin-top: 0;
    }
    .ehud-banai-img{
      height: 4em;
      width: 10em;
      background-size:10em;
      margin-bottom: 0;
    }
    .info-card{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center; 
        text-align: center;
        margin-top: 2vh;
        padding-bottom: 5vh;
    }
    .main p{
        width: 60%;
        font-size: 10px;
    }
    iframe{
        height: 10vh;
        width: 25vh;
    }
  }