.login-modal-overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(6px);
    position: fixed;
    
}
.close-login-button{
    right: 22vw;
}

.login-modal-container{
    position: absolute;
    height: 40vh;
    width: 50vw;
    background-color: white;
    border-radius: 20px;
    color: black;
    z-index: 3;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-button{
    width: 15vw;
}
.not-reg-button{
    width: 15vw;
}

