.login-modal-overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(6px);
    position: fixed;
    
}
.close-login-button{
    color: black !important;
    border: 1px solid black !important;
    max-width: 5px !important;
    align-self: flex-start;
    min-width: 0px !important;
}

.login-modal-container{
    position: absolute;
    height: max-content;
    width: 30vw;
    background-color: white;
    border-radius: 20px;
    color: black;
    z-index: 3;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-button{
    min-width: 15vw;
    width: auto;
    background: linear-gradient(90deg,rgb(87, 204, 153), rgb(56, 163, 165));
}
.not-reg-button{
    width: 15vw;
    width: auto;
    color: black !important;
    border: 1px solid black !important;    
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


