.map-Tuvia-overlay {
    margin-top: 10vh;
    background-image: url("../Components/middleReka.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.map-Tuvia-modal {
    width: 75vw;
    height: 65vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    top: 20vh;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    color: white;
}

.map-Tuvia-modal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.since-header {
    margin-top: 0;
}

.gmap_canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-Tuvia-modal-txt h2 {
    margin-bottom: 0.5%;
}

.map-Tuvia-modal-txt h1 {
    text-align: center;
}

@media (max-width: 767px){
    .map-Tuvia-overlay{
      margin-top: 0;
    }
  }