
.search-bar-container{
    text-align: center;
    color: white;

}

.search-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.search-input{
    padding: 1vh;
    border-radius: 10px;
    width: 13vw;
    border: 1px solid rgb(87, 204, 153);
}

.search-inner h1{
    color: white;
}
.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 13vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
}
.dropdown-row{
    margin-bottom: 1vh ;
    margin-top: 1vh ;
    color: black;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
}
.dropdown-row:hover{
    text-decoration: underline;
}
@media (max-width: 767px){
.dropdown{
    width: 40vw;
}
.search-input{
    width:40vw
}
}
