.sign-up-modal-overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.557);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 49;
    backdrop-filter: blur(6px);
    position: fixed;

    
}
.sign-up-modal-container{
    position: absolute;
    min-height: 60vh;
    width: 50vw;
    top: 5vh;
    background-color: white;
    border-radius: 20px;
    color: black;
    z-index: 50;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
}
.close-signup-button{
    right: 22vw;
}